* {
    margin: 0;
    padding: 0;
}

.tong {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    padding: 8px 10px;
    border: 1px solid black;
}

.small-image {
    width: 250px;
    height: 150px;
    margin-left: 100px;
    margin-right: 80px;
    margin-bottom: 40px;
    float: left;
}

.large-image {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    margin-left: 200px;
}


/* .tong {
    width: 50%;
    height: 500px;
    border: 2px solid black;
    padding: 8px 10px;
}

.tong1 {
    width: 100%;
}

img {
    width: 45%;
    height: 200px;
}

.first {
    float: left;
    width: 45%;
    margin: 5px 5px;
}

.second {
    float: left;
    width: 45%;
    margin: 5px 5px;
}

.third {
    float: left;
    width: 45%;
    margin: 5px 5px;
}

.cuoi {
    float: left;
    width: 45%;
    margin: 5px 5px;
} */