* {
    margin: 0;
    padding: 0;
}

.img {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.img .chuyen-hinh {
    width: 9999px;
}

img {
    width: 1000px;
    height: 400px;
    float: left;
}