* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tong {
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid black;
    width: 25%;
}

input[type=text] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 12px 0;
    background-color: #f2f2f2;
}

span {
    color: red;
}

input[type=radio] {
    /* width: 20%; */
    clear: both;
    padding: 12px 20px;
    margin: 12px 10px;
    background-color: #f2f2f2;
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    background-color: #f2f2f2;
}

input[type=submit] {
    padding: 10px 30px;
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}

input[type=submit]:hover {
    background-color: #45a049;
}