* {
    padding: 0px;
    margin: 0px;
}

html {
    margin: 8px 50px;
    padding: 0px 50px;
}

h2 {
    margin-bottom: 20px;
}


/* tbody */

.tongquat {
    width: 100%;
}

.first {
    float: left;
    width: 25%;
    margin-right: 25px;
}

.tong {
    border: 1px solid black;
    width: 90%;
    padding: 0px 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

input[type=login] {
    background-color: darkgray;
    width: 70px;
    margin: 8px 0px;
    padding: 8px 8px;
    text-align: center;
}

ul li {
    list-style: none;
    margin-bottom: 55px;
}

ul li a {
    color: rgb(0, 140, 255);
}

.second {
    float: left;
    width: 45%;
    margin-left: 10px;
}

.hieu {
    border: 1px solid black;
    width: 55%;
    height: 410px;
    padding: 8px 25px;
}

.name {
    width: 100%;
}

.name .left {
    float: left;
    width: 45%;
    margin-right: 20px;
}

.name .right {
    float: left;
    width: 45%;
    margin-left: 20px;
}

input[type=register] {
    background-color: rgb(199, 195, 195);
    width: 70px;
    margin: 8px 0px;
    padding: 8px 8px;
    box-sizing: border-box;
}